// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "sun60i-a733.dtsi"

/ {
	model = "Orange Pi 4 Pro";
	compatible = "xunlong,orangepi-4-pro", "allwinner,sun60i-a733";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/*
	 * Orange Pi 4 Pro has 8GB LPDDR4.
	 * DRAM starts at 0x40000000 (1GB offset).
	 * U-Boot typically modifies this, but we hardcode
	 * to avoid panics when U-Boot's memory node is wrong.
	 */
	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0x00000002 0x00000000>;
	};

	reg_vcc3v3_sd: regulator-vcc3v3-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3-sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_vcc3v3_eth: regulator-vcc3v3-eth {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3-eth";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_usb_host_vbus: regulator-usb-host-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb-host-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};
};

&uart0 {
	status = "okay";
};

&mmc0 {
	status = "okay";
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	cap-sd-highspeed;
	no-1-8-v;
	no-sdio;
	no-mmc;
	vmmc-supply = <&reg_vcc3v3_sd>;
	vqmmc-supply = <&reg_vcc3v3_sd>;
};

&mmc1 {
	status = "okay";
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	no-sd;
	no-mmc;
};

&mmc2 {
	status = "disabled";
	pinctrl-0 = <&mmc2_pins>;
	pinctrl-names = "default";
	bus-width = <8>;
	non-removable;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sdio;
	no-sd;
};

&usbphy {
	usb1_vbus-supply = <&reg_usb_host_vbus>;
	status = "okay";
};

&gmac0_phy0 {
	phy-supply = <&reg_vcc3v3_eth>;
};

&gmac0 {
	phy-supply = <&reg_vcc3v3_eth>;
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};
